<%include ./head.ejs %>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-xs-12 col-md-7" id="boxs">
                <% for(var i = con.length - 1; i >= 0;i--){ %>
                <div class="thumbnail">
                    <h3 class="text-center"><%= con[i].title %></h3>
                    <span class="text-center">作者：<em>admin</em>时间：<em><%= con[i].date %></em>阅读：<em><%= con[i].read %></em>评论：<em><%= con[i].discuss.length %></em></span>
                    <p><%= con[i].des %></p>
                    <a href="http://localhost:8086/read?id=<%=con[i]._id%>" class="btn or" role="button">阅读全文</a>
                </div>
                <% } %>

                <div class="thumbnail main-foot text-center">
                    <% if(page === 1){ %>
                    <i>没有上一页了</i>
                    <% }else{ %>
                    <i><a href="http://localhost:8086?page=<%=page-1 %>">上一页</a></i>
                    <% } %>

                    <b><%= page %>/<%= pages %></b>

                    <% if(page === pages){ %>
                    <span>没有下一页了</span>
                    <% }else{ %>
                    <span><a href="http://localhost:8086?page=<%=page+1 %>">下一页</a></span>
                    <% } %>

                </div>

            </div>
            <%include ./right.ejs %>
        </div>
    </div>
</div>
</div>
<%include ./foot.ejs %>