<% include ./header.ejs %>
<div class="container">
    <table class="table table-bordered table-striped text-center ">
        <tr>
            <td>id</td>
            <td>标题</td>
            <td>分类</td>
            <td>阅读量</td>
            <td>评论</td>
            <td>操作</td>
        </tr>
        <%for(var i=0;i<info2.length;i++){%>
        <tr class="revise-box">
            <td><%=info2[i]._id%></td>
            <td><%=info2[i].title%></td>
            <td><%=info2[i].names%></td>
            <td><%=info2[i].read%></td>
            <td><%=info2[i].discuss.length%></td>
            <td class="box2">
                <a  class="btn revise" href="http://localhost:8086/admin/control?id=<%=info2[i]._id%>">修改</a>
                <a href="http://localhost:8086/admin/revise/del?id=<%=info2[i]._id%>">删除</a>
                <input type="hidden" class="int" value="将采购框架合同">
            </td>
        </tr>
        <%}%>
    </table>
</div>
<% include ./footer.ejs %>